*.iml
.gradle
/local.properties
/.idea/
/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.DS_STORE
*.log
.idea/
*.apk
chap-secrets
routesUp
redir.sh
key.pem
cert.pem
node_modules
envs.sh
package-lock.json
pptp-js/radiusclient.conf
pptp-js/radsec.sh
pptp-js/radsecproxy.conf
pptp-js/redir.sh
pptp-js/*_routes.sh
pptp-js/servers

